<section class="flashmessage"><%= flash[:message] %></section>

<div class="container new-post profile-posts">
    <div class="row">
        <form action="/users/profile/<%= @user.id %>/edit" method="get">

            <h5>My Account Information:</h5>
            <div class="form-group">
                Username: <%= current_user.username %>
            </div>

            <div class="form-group">
                Email: <%= current_user.email %>
            </div>

            <input type="submit" class="btn btn-primary" value="Edit Profile Info">
        </form>
    </div> <!-- close .row -->
</div> <!-- close .container -->


<div class="container profile-posts">
    <div class="row">
        <h5>My Posts</h5>
    </div>
</div>

<section class="content">
        <div class= "container-fluid">
            <div class= "row">
                <div class="col-lg-12 col-md-12">

                <% if @posts != [] %>
                    <% @posts.each do |post| %>
                        <div class= "row">
                            <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                                <div class="post">
                                    <div class="top-wrap">
                                        <div class="user-info pull-left">
                                            <div class="avatar">
                                                <p><img src="../images/no-photo.png" class="align-self-center mr-2"></p>
                                                <p class="text-center"><span class="position-relative align-content-center"><%= (User.find(post.user_id)).username %></span></p>
                                                <p class="text-center"><form><input type="button" value="+1" class="like-button align-self-center mr-2 text-center"> <%= post.score %></form></p>
                                            </div> <!-- close .avatar -->
                                        </div> <!-- close .user-info -->
                                                
                                        <div class="post-info pull-left">
                                            <div class="post-title post-info pull-left">
                                                <p><span><a href="/categories/<%= Category.find(post.category_id).title %>/posts/<%= post.id %>"><%= post.city.split(" ").map{|word| word.capitalize}.join(" ") %> / <%= post.title %></a></span></p>
                                                <span><%= post.location %></span>
                                            </div>
                                            <div class="post-info">
                                                <p><span><%= post.content %></span></p>    
                                            </div>
                                            <div class="post-footer-section">
                                                <span class="post-info replies-count">Replies: <%=post.comments.count%></span>
                                                <span class="post-info post-footer">Posted at <%= post.created_at %></span>
                                            </div>
                                        </div> <!-- close .post-info -->
                                    </div> <!-- close .top-wrap -->
                                </div> <!-- close .post -->
                            </div> <!-- close .col-lg-12 -->
                        </div> <!-- close .row -->
                    <% end %>
                <% else %>

                <div class="container">
                    <div class="row">
                        <p> You haven't posted anything yet. <p>
                    </div>
                </div>

                <% end %>
            </div>
        </div>
    </div>
</section>