<!-- HEADER BREADCRUMBS -->

<div class="container-fluid category-title">
  <div class="row">
    <div class ="col-8">
      <nav aria-label="breadcrumb customnav">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/categories/<%= @category.title %>/posts"><%= @category.title.capitalize %></a></li>
      </ol>
      </nav>
    </div>

    <div class=col-4 ml-1">
      <form action="/categories/<%= @category.title %>/posts/new"> <input type="submit" class="postbutton" value="New Post"> </form>
    </div>
  </div>
</div>

<section class="flashmessage"><%= flash[:message] %></section>

<!-- NEW POST DISPLAY -->

<div class="container new-post">
    <div class="row">
        <form action="/categories/<%=@category.title%>/posts" method="post">
            <div class="container new-post">
                <h5>Creating a New Post for <%=@category.title.capitalize%>:</h5>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="post[title]" placeholder="The Spiciest Salsa Ever...">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">City</label>
                    <input type="text" class="form-control" name="post[city]" placeholder="Chicago...">
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="post[location]" placeholder="ABC Restaurant...">
                </div>

                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="post[content]" rows="3" placeholder="Tell us about what you found..."></textarea>
                </div>

                <input type="submit" id="submit-form-button" class="btn btn-primary">
            </div>
        </form>
    </div> <!-- close .row -->
</div> <!-- close .container -->