
<div class="container-fluid category-title">
  <div class="row">
  <div class="col-6">
    <h5>Welcome to <%= @category.title.capitalize%>!</h5>
    </div>
    <div class=col-6 mr-2">
    <form action="/categories/<%= @category.title %>/posts/new"> <input type="submit" class="postbutton" value="New Post"> </form>
    </div>

    </div>
</div>

<% @posts.each do |post| %>

<div class="container posting">
  <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-8 offset-lg-2">

        <div class="post">
          <div class="row">
            <div class="col-3 user-info pull-left align-self-center">
                <div class="avatar">
                  <img src="../images/no-photo.png" class="align-self-center mr-2">
                  <p><%=(User.find(post.user_id)).username%></p>
                  <form><input type="button" value="+1" class="like-button align-self-center mr-2"> <%=post.score%></form>
                </div>
            </div>
              
            <div class="col-9 post-info pull-left">
                <div class="post-title">
                  <section><a href="/categories/<%= @category.title %>/posts/<%=post.id%>"><%= post.city.split(" ").map{|word| word.capitalize}.join(" ") %> / <%= post.title %></a></section>
                  <section><%=post.location%></section>
                </div>
                <p><%=post.content%></p>    
                <section class="replies-count">Replies: <%=post.comments.count%></section>
                <section class="post-footer">Posted at <%= post.created_at %></section>
            </div>
              
            <div class="postbottom">
            
                <div class="clearfix">
                
                </div>
            </div>
          </div> <!-- close .row -->
        </div> <!-- close .post -->

     </div> <!-- close .col-sm -->
  </div> <!-- close .row -->
</div> <!-- close.container-posting -->

<% end %>